.blacklistbtn{
    background-color: #d41419;
    border: none;
    color: #fff;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 600;
    width: 12rem;
    height: 40px;
}

.suspendtbtn{

    background-color: #fff;
    border: 1px solid #d41419;
    color: #d41419;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 10px;
    font-weight: 600;
    width: 12rem;
    height: 40px;
}

.accdetails{
    margin-top: 20px;
}
.ech{
    margin-bottom: 20px;
    font-weight: 600;
}

.tble{
width: 400px;
margin-bottom: 60px;
}

.print{
border-radius: 8px;
border: 1px solid #f39874;
background-color: #fff;
color: #f39874;
width: 220px;

}

.temail{
    border-radius: 8px;
    border: 1px solid #f39874;
    background-color: #fff;
    color: #f39874;
    width: 220px;

}
.edita{
    border-radius: 8px;
    border: none;
    background-color: #f39874;
    color: #fff;
    width: 220px;
}